@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

/* Reset */
html {
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --dark-bg-color: #1f2937;
  --light-bg-color: #e5e7eb;
  --dark-font-color: #1f2937;
  --light-font-color: #e5e7eb;
  --link-color: #e5e7eb;
  --btn-color: #3882f6;
}


*, 
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans serif;
}

/* Typography */
h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  color: var(--light-font-color);
}

h2 {
  font-size: 2.25rem;
  color: var(--dark-font-color);
}

p {
  font-size: 1.125rem;
}

a, 
*:visited,
*:active {
  text-decoration: none;

}

ul {
  list-style: none;
}

/* image */
img {
  display: block;
  width: 100%;
}

/* container */
.container {
  width: 80%;
  margin-inline: auto;
}

header,
section {
  padding-block: 2rem;
}


header {
  min-height: 100vh;
}

/* header */
#hero-header {
  background-color: var(--dark-bg-color);
}

header nav {

  color: var(--light-font-color);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 2rem;
}

#hero-header li > a {
  color: var(--link-color);
  font-size: 1rem;
}

.hero-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-block: 8rem;
}

.hero-text {
  width: 135ch;
}

.hero-image {
  min-width: 31.25rem;
}

.hero-text p {
  color: var(--light-font-color);
  margin-bottom: 1rem;
}

.hero-text button {
  color: var(--light-font-color);
  background-color: var(--btn-color);
  padding: .5rem 2rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: transparent;
  border: 1px solid var(--btn-color);
}

/* random-information section */
#random-information h2,
.card {
  text-align: center; 
}

#random-information .card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  margin-top: 5rem;
}

.card p {
  color: var(--dark-font-color);
  font-size: 1rem;
}

/* quote section */
#quote {
  background-color: var(--light-bg-color);
  padding-block: 10rem;
}
#quote .container {
  width: 100ch;
}

#quote figure {
  color: var(--dark-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote blockquote {
  
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
}

#quote figcaption { 
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: auto;
}

/* call to action section */
#call-to-action {
  padding-block: 8rem ;
}

#call-to-action {
  color: var(--light-font-color);
}

#call-to-action .container {
  background-color: var(--btn-color);
  border-radius: .5rem;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#call-to-action .container p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
}

#call-to-action .container p:first-child + p {
  font-weight: 300;
}

#call-to-action button {
  color: var(--light-font-color);
  background-color: transparent;
  font-size: 1.5rem;
  padding: .25rem 3rem;
  border: 2px solid var(--light-font-color);
  border-radius: .5rem;
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--dark-bg-color);
  color: var(--light-font-color);
  font-size: 1.25rem;
  text-align: center;
  padding-block: 3rem;
}